
body{
    background-image: url(https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blte8950248d53d1844/630ede221ee78a063c597f58/Valorant_2022_E5A2_PlayVALORANT_PlayValorantHomepage_3440x1020_MB01_textless_LA.jpg);
}

#home_btn{
    text-decoration: none;
    text-align: center;
}